/*http://www.w3schools.com/howto/howto_css_modals.asp*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
    background: #FFFFFF;
    /*margin: 20px 20px 50px 20px;*/
}

#main {
    text-align: center;
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

#main h1 {
  color:#fedea2;
  font-size:45px;
}

#main p {
    font-size:18px;
    color:black;
}


#grid .image {
    display: inline-block;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-right: 8px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.modalContent > h1 {
 
    position: relative;
    padding: 40px;
    font-size: 45px;
    color: #ffaeb2;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.info {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
}

.info iframe {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

.name{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #ffaab6;
    text-align: center;
    padding-bottom: 10%; 
}

.email{
    text-align: center;
    font-size: 15px;
}

.exerpt{
    text-align: center;
    font-size: 15px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modalContent {
    font-family: 'Open Sans', sans-serif;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 23px;
    border: 1px solid #888;
    width:60%; 
}

.modalContent > header {
    color: red;
}

.open {
    /*border:1px solid #a6d4d3;*/
    /*padding:10px;*/
    /*background: #a6d4d3;*/
    font-size:30px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.open:hover,
.open:focus {
    color: #ffaab6;
    text-decoration: none;
    cursor: pointer;
}
